{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.reviewed %}
        <p> {{ post.no }}. {{ title }}
          <span style="float: right;">[<a href="{{ post.arxiv_link }}">arXiv</a>|<a href="https://doi.org/{{ post.doi }}">DOI</a>]</span>
        </p>
      {% else %}
        <p> {{ post.no }}. {{ title }}
          <span style="float: right;">[<a href="{{ post.arxiv_link }}">arXiv</a>]</span>
        </p>
      {% endif %}
    </h3>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.reviewed %}
          <p> {{ post.author }}, {{ post.journal }}, <i>ArXiv e-print</i> {{ post.arxiv_id }} </p>
        {% else %}
          <p> {{ post.author }}, ArXiv e-print {{ post.arxiv_id }} </p>
        {% endif %}

  </article>
</div>
